.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: black;
  padding: 20px 10px;
  font-size: var(--font-size);
  color: white;
}
.footer .logo {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer .logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.footer img {
  height: 30px;
}
.footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 1px solid;
  border-radius: 20px;
}

@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}
