@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
nav {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
nav .logo {
  color: #fefbf6;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
  font-size: var(--font-size);
}
nav a {
  text-decoration: none;
  position: relative;
}
nav li {
  padding: 10px;
}
nav ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0%;
  background: white;
  border-radius: 3px;
  transition: 0.2s;
}
nav ul a:hover::after {
  width: 100%;
}
nav ul a:hover {
  color: white;
}
nav .btn {
  padding: 8px 10px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid white;
  color: var(--background);
}
nav .hidden {
  display: none;
}
nav .menu {
  display: none;
}

nav .hidden li {
  list-style: none;
}
@media (max-width: 900px) {
  nav ul {
    display: none;
  }
  nav .btn {
    display: none;
  }
  nav .menu {
    display: unset;
  }
  nav .menu i {
    display: block;
    cursor: pointer;
  }
  nav .hidden {
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 10px;
    right: 0;
    font-size: 18px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    background: var(--primary);
    text-transform: capitalize;
  }
  nav .hidden.active {
    display: flex;
    animation: up 0.3s linear;
  }
  @keyframes up {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
  }
  nav .hidden a:hover {
    color: white;
  }
  nav .hidden .btn {
    display: unset;
    width: 100%;
  }
}
